body {
    font-family: 'Roboto', sans-serif;
}

.inputName {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    width: 200pt;
}

.inputPost {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

.app {
    max-width: 1000px;
    margin: 50px auto;
}

.btns {
    justify-content: space-between;
}

.card {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: box-shadow .3s ease-in-out;
    
}

#verticalTop{
    vertical-align: top;
}

.cardToEdit {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: box-shadow .3s ease-in-out;
}

.card:hover {
    box-shadow: 2px 2px 0 rgba(0, 0, 0, .15);
}

.card.marked {
    border: 2px solid crimson;
}